:root{
    --headingsFont:"M PLUS Rounded 1c", sans-serif;
    --parragraphsFont: 'Roboto Condensed', sans-serif;
    --firstColor: #000;
    --secondColor: #fff;
    --thirdColor: #333333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--parragraphsFont);
    font-size: 1.5rem;
}
html{
    scroll-behavior: smooth;
}
/*GLOBALS*/
h1,h2,h3{
    font-family: var(--headingsFont);
}
p{
    font-size: 2.5rem;
    text-align: center;
}
a{
    text-decoration: none;
}
.btn{
    outline: none;
    padding: 15px 30px;
    background: var(--secondColor);
    color: var(--firstColor);
    font-size: 1.2rem;
    font-family: var(--parragraphsFont);
    font-weight: 700;
    border: 2px solid black;
    border-radius: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background: var(--firstColor);
    color: var(--secondColor);
}
#buy{
    background: var(--firstColor);
    color: var(--secondColor);
    border-radius: 0;
    padding: 8px 15px;
}
#buy:hover{
    border: 2px solid var(--thirdColor);
    background: var(--thirdColor);
}
.fixed{
    overflow: hidden;
}
/*Nav style*/
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--firstColor);
    height: 5.8rem;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-img{
    max-height: 5rem;
}
.nav-title{
    color: var(--secondColor);
    text-transform: uppercase;
}
.nav-links{
    display: flex;
    width: 40%;
    justify-content: space-around;
}
.nav-links li{
    list-style: none;
}
.nav-li i{
    color: var(--secondColor);
    margin: 0.2rem;
}
.nav-li a{
    color: var(--secondColor);
    text-decoration: none;
}
.nav-li a:hover{
    color: var(--secondColor);
}
.nav-li:hover{
    border: 1.5px solid var(--secondColor);
    border-radius: 12px;
    transition: all 0.3s;
}
.nav-fixed{
    position: fixed;
    overflow: hidden;
    width: 100%;
    opacity: 100%;
}
.burguer{
    display: none;
}
/*Responsive design*/
@media screen and (max-width: 1100px){
    .nav-links{
        width: 50%;
    }
}
@media screen and (max-width: 900px){
    /*Don´t scroll in x axis*/
    body{
        overflow-x: hidden;
    }
    /*Aside menu*/
    .nav-links{
        position: absolute;
        right: 0;
        height: 90vh;
        top: 10vh;
        background: var(--firstColor);
        flex-direction: column;
        align-items: center;
        width: 50%;
        /*Not showed until click*/
        transform: translateX(100%);
        transition: all 0.5s ease-in 0s;
    }
    .burguer{
        color: white;
        display: block;
        cursor: pointer;
    }
    .nav-links.active{
        transform: translateX(0);
    }
}

/*HERO*/

.hero{
    height: 100vh;
    max-width: 120rem;
    margin: 0 auto;
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.hero-content{
    margin: 0 auto;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hero-title{

    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    font-family: var(--parragraphsFont);
}

/*Populares*/
.products h1{
    text-align: center;
    color: black;
    font-family: var(--parragraphsFont);
    text-transform: uppercase;
}
.products-grid{
    width: 95%;
    height: 85%;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4rem;
}
.product{
    background: rgb(243, 239, 239);
    max-width: 17rem;
    height: 23rem;
    text-align: center;
}
.product-img{
    width: 80%;
    height: 60%;
    margin-top: 0.5rem;
}
.product-info p{
    font-family: var(--parragraphsFont);
    font-size: 1.2rem;
}
.product-info span{
    font-size: 1.4rem;
}

/*Nosotros*/
.about{
    height: 35rem;
    margin: 4rem 0;
}
.about-container{
    margin: 0 auto;
    max-width: 90rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-img img{
    width: 25rem;
    filter: drop-shadow(-20px -20px 5px rgba(0, 0, 0, 0.7));
}
.about-info{
    width: 50%;
}
.about-info h2{
    text-transform: uppercase;
}
.about-info p{
    font-size: 1.5rem;
    text-align: start;
}
/*Gallery*/
.gallery{
    margin-top: 0;
}
.gallery h2{
    text-align: center;
    color: black;
    font-family: var(--parragraphsFont);
    text-transform: uppercase;
}
.gallery-img{
    width: 95%;
    margin: 2.5rem auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    text-align: center;
}
.gallery-img img{
    object-fit: cover;
    cursor: pointer;
}
.overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 0.6);
}

/*Footer*/
footer{
    background:var(--firstColor);
    color: var(--secondColor);
    text-align: center;
    font-size: 1rem;
    padding: 1.5rem 0;
}
/*Responsive ipads*/
@media screen and (max-width: 1275px) {
    /*Populares grid fit (ipad)*/
    .products-grid{
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .product-info button{
        margin-left: 1rem ;
    }
    /*Nosotros grid fit (ipad)*/
    .about-container{
       flex-direction: column;
       margin-top: 10rem;
    }
    .about-info{
        margin-top: 3rem;
        width: 90%;
    }
    /*Galeria grid fit (ipad)*/
    .gallery{
        margin-top: 10rem;
    }
    .gallery-img{
        grid-template-columns: repeat(3, 1fr);
    }
}
/*Responsive iphone*/
@media screen and (max-width: 750px) {
    /*Populares grid fit (iphone)*/
    .products-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .product-info button{
        margin-left: 1rem ;
    }
    /*Nosotros grid fit (iphone)*/
    .about-container{
        flex-direction: column;
        margin-top: 10rem;
    }
     .about-info{
        margin-top: 3rem;
        width: 90%;
    }
    /*Galeria grid fit (iphone)*/
    .gallery{
        margin-top: 15rem;
    }
    .gallery-img{
        grid-template-columns: repeat(2, 1fr);
    }
    /*Image overlay fit*/
    .overlay img{
        width:400px;
    }
}
/*Responsive minis*/
@media screen and (max-width: 350px) {
    /*Populares grid fit (minis)*/
    .products-grid{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;

    }
    /*Nosotros grid fit (minis)*/
    .about-container{
        flex-direction: column;
        margin-top: 10rem;
    }
     .about-info{
        margin-top: 3rem;
        width: 90%;
    }
    /*Galeria grid fit (minis)*/
    .gallery{
        margin-top: 25rem;
    }
    .gallery-img{
        grid-template-columns: repeat(1, 1fr);
    }
     /*Image overlay fit*/
     .overlay img{
        width:200px;
    }
}